<link rel="stylesheet" type="text/css" href="/styles/header.css">
<header>
    <nav>
        <ul>
            <li><a href="/admin/createSeat">Create Seat</a></li>
            <li><a href="/admin">Current Reservations</a></li>
            <li><a href="/admin/users">Users</a></li>
        </ul>
    </nav>
</header>
