<!-- views/table.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Table</title>
    <link rel="stylesheet" type="text/css" href="/styles/reservations-table.css">
</head>

<body>
    <%- include('header.ejs') %>
    <h2>Reservation Table</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.userId %></td>
                    <td><%= user.username %></td>
                    <td><%= user.first_name %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>

</html>
